{% extends "layout.html" %}
{% block content %}
    <h1>Header</h1>
    <form action="compdiff" method="post">
    <div class="row">
        <div class="col">
            <label for="ta1">label 1</label>
            <textarea id="ta1" name="text1">textarea 1</textarea>
        </div>
        <div class="col">
            <label for="ta2">label 2</label>
            <textarea id="ta2" name="text2">textarea 2</textarea>
        </div>
        <br><br><br><br>
		<input TYPE="submit">
		<input TYPE="reset">
		</form>
    </div>
{% endblock %}